body {
	background-color: #000000;
}
div#canvas-frame {
	border: none;
	cursor: pointer;
	width: 720px;
	height: 420px;
	margin-left: auto;
	margin-right: auto;		
}

div#header {
	margin: 0px 0px 0px 20px;
}
div#header a { 
	color: #bbbbbb; 
	text-decoration: none;
}
div#header h1 {
	margin: 0;
	color: #bbbbbb;
	font-size: 1.8em;
	font-family: 'Arial black', Verdana, Helvetica,
	sans-serif;
	text-shadow: 5px 5px 5px #666666;
}

div#dialog {
	font-size: 0.8em;
}

div#header p {
	color: #999999;
	font-size: 0.7em;
}
div#clock {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	color: #bbbbbb;
	font-size: 1.6em;
	font-family: 'Arial black', Verdana, Helvetica, sans-serif;
	text-shadow: 5px 5px 5px #666666;			
}
div#satelite {
	margin-left: auto;
	margin-right: auto;
	width: 540px;
	color: #cc0033;
	font-size: 0.7em;			
}
div#footer {
	margin:0px 20px 0px 20px;
	color: #999999;
	font-size: 0.6em;
}
div#footer a:link { color: #9400d3; }
div#footer a:visited { color: #800080; }
div#footer a:hover { color: #9400d3; }
div#footer a:active { color: #9400d3; }
